.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.section.key-features-container{
  padding: 0px 0;
  background: #365069;
}

/* Cards section Start */

.key-features-cards >ul{
  display: flex;
  gap: 227px;
  align-items: center;
  justify-content: start;
  padding-bottom: 2rem;
}
.key-features-cards >ul li{
  background: none;
  border: 0;
  max-width: 417px;
}
.key-features-cards >ul li div:first-child{
  max-width: 48px;
  height: 48px;
}
.key-features-cards >ul li div:first-child picture img{
  display: block;
  height: 100%;
}
.key-features-cards >ul li div:last-child{
  margin: 0;
}
/* Cards Section Ends */

