/* quick Approvals Start */

.section.quick-approval {
    background-color: #FFF7F4;
}

.section .quick-approval-wrapper .quick-approval>div {
    padding: 80px 0;
}

.section .quick-approval-wrapper .quick-approval>div>div>h2 {
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2pc;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
}

.section .quick-approval-wrapper .quick-approval>div>div>p {
    margin-bottom: 24px;
    color: #666;
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 8px;
}

.section .quick-approval-wrapper .quick-approval>div>div>ul {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    list-style-type: disc;
}

.section .quick-approval-wrapper .quick-approval>div>div>ul li {
    display: list-item;
    list-style-position: inside;
    list-style-type: disc;
}

.section .quick-approval-wrapper .quick-approval>div>div>ul li::marker {
    color: #f26841;
    font-size: 19px;
}

.section .quick-approval-wrapper .quick-approval>div>div>ul li a {
    color: #333;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1pc;
    font-weight: 700;
    line-height: 24px;
}

@media screen and (max-width:768px) {
    .section .quick-approval-wrapper .quick-approval>div {
        padding: 40px 0;
    }

    .section .quick-approval-wrapper .quick-approval>div>div>h2 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;
    }

    .section .quick-approval-wrapper .quick-approval>div>div>p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 4px;
        margin-bottom: 20px;
    }

    .section .quick-approval-wrapper .quick-approval>div>div>ul {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


/* Quick Approvals end */