/* piramal bredcrumb start */
.piramal-bredcrumb .default-content-wrapper ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    padding: 12px 0;
}

.piramal-bredcrumb .default-content-wrapper ul li,
.piramal-bredcrumb .default-content-wrapper ul li a{
    color: #666666;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: 'Nunito-Light', sans-serif;
}

.piramal-bredcrumb .default-content-wrapper ul li:last-child{
    color: #f26841;
}

.piramal-bredcrumb .default-content-wrapper ul li{
    position: relative;
}

.piramal-bredcrumb .default-content-wrapper ul li::after{
    position: absolute;
    content: '>';
    right: -20px;
}

.piramal-bredcrumb .default-content-wrapper ul li:last-child::after{
    content: none;
}
/* piramal bredcrumb end */


/* piramal banner start */
.piramal-banner-wrapper {
    border: 1px solid #3650693E;
    border-radius: 10px 10px 0 0;
}

.piramal-banner-wrapper .piramal-banner>div {
    display: flex;
    align-items: center;
}

.piramal-banner-wrapper .piramal-banner>div div:first-child {
    width: 65%;
    padding: 1rem;
    position: relative;
}

.piramal-banner-wrapper .piramal-banner>div div:first-child p:first-child {
    font-size: 14px;
    padding: 8px 10px;
    font-weight: 600;
    display: inline-block;
    color: #ffffff;
    background: #f26841;
    border-radius: 6px;
    margin-bottom: 1rem;
    font-family: "Nunito-Semibold", sans-serif;

}

.piramal-banner-wrapper .piramal-banner>div div:first-child h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 56px;
    line-height: 1.5;
    color: #333333;
    font-size: 1.3rem;
    font-family: "Nunito-Semibold", sans-serif;
    margin-bottom: 1.5rem;
}

.piramal-banner-wrapper .piramal-banner>div div:first-child table {
    width: 100%;
}

.piramal-banner-wrapper .piramal-banner>div div:first-child table tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.piramal-banner-wrapper .piramal-banner>div div:first-child table tr td:first-child {
    line-height: 1.5;
    font-weight: 500;
    color: #333333;
    font-size: 1.3rem;
    font-family: "Nunito-Semibold", sans-serif;
}

.piramal-banner-wrapper .piramal-banner>div div:first-child table tr td:nth-child(2) {
    font-size: 1rem;
    color: #212529;
    font-family: 'Nunito-Light', sans-serif;
}

.piramal-banner-wrapper .piramal-banner>div div:nth-child(2) {
    width: 35%;
    min-height: 230px;
    position: relative;
}

.piramal-banner-wrapper .piramal-banner>div div:nth-child(2) picture {
    height: 230px;
    display: block;
}

.piramal-banner-wrapper .piramal-banner>div div:nth-child(2) picture img {
    height: 100%;
    border-top-right-radius: 10px;
    width: 100%;
}

.piramal-banner-wrapper .piramal-banner>div div:nth-child(2):after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 6;
}

@media screen and (max-width: 768px) {
    .piramal-banner-wrapper .piramal-banner>div div:first-child table tr {
        display: block;
    }

    .piramal-banner-wrapper .piramal-banner>div div:first-child table tr td:first-child {
        display: block;
    }

    .piramal-banner-wrapper .piramal-banner>div div:first-child table tr td:nth-child(2) {
        display: block;
    }

    .piramal-banner-wrapper .piramal-banner>div div:nth-child(2) picture img {
        object-fit: cover;
    }

}

/* piramal banner end */


/* piraml blog-content start */
.piramal-blog-content .default-content-wrapper{
    padding: 1.5rem;
    border: 1px solid #3650693E;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

.piramal-blog-content .default-content-wrapper p{
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #212529;
    font-family: 'Nunito-Regular', sans-serif;
}

.piramal-blog-content .default-content-wrapper h2{
    font-size: 20px;
    font-family: 'Nunito-Extrabold', sans-serif;
    margin-bottom: 8px;
}
/* piraml blog-content end */