.accordion details {
    border: 1px solid var(--dark-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details+details {
    margin-top: 16px;
}

.accordion details summary {
    position: relative;
    padding: 0 16px;
    padding-right: 48px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.2s;
}

.accordion details[open] summary {
    background-color: var(--light-color);
}

.accordion details summary:focus,
.accordion details summary:hover {
    background-color: var(--dark-color);
}

.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details summary::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(135deg);
    width: 9px;
    height: 9px;
    border: 2px solid;
    border-width: 2px 2px 0 0;
    transition: transform 0.2s;
}

.accordion details[open] summary::after {
    transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
    padding: 0 16px;
}

.accordion details[open] .accordion-item-body {
    border-top: 1px solid var(--dark-color);
    background-color: var(--background-color);
}


/* Accordion(Document Required) START */
.section.documents-required {
    background-color: rgb(255, 247, 244);
    padding-bottom: 72px;
    padding-top: 1pc;
}

.documents-required .default-content-wrapper {
    max-width: 1240px;
    margin: auto;
}

.documents-required .default-content-wrapper>h2 {
    position: relative;
    display: flex;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2pc;
    font-weight: 800;
    line-height: 28px;
    padding-bottom: 8px;
}

.documents-required .default-content-wrapper>h2>a {
    background-color: #fff;
    /* min-height: 3pc; */
    padding: -7px 24px;
    border: 1px solid #365069;
    border-radius: 8px;
    max-width: 324px;
    position: absolute;
    right: 0;
    top: -6px;
    width: 100%;
    color: #365069;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1pc;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding: 12px 0px;
}

.documents-required .default-content-wrapper>p {
    margin-bottom: 24px;
    margin-top: 24px;
    min-height: 38px;
    font-size: 18px;
}

/* Accordion(Document Required) END */

/* Accordian container start */
.accordion.documents-required {
    max-width: 1240px;
    margin: auto;
    background-color: #fff;
    border-radius: 24px;
    -webkit-box-shadow: 0 4px 9pt rgba(51, 51, 51, .08);
    box-shadow: 0 4px 9pt rgba(51, 51, 51, .08);
    padding: 0 2pc;
}

.accordion.documents-required .accordion-item {
    margin: 0;
    border-bottom: 1px dashed #ccc;
}

.accordion.documents-required .accordion-item .accordion-item-label {
    display: flex;
    display: grid;
    grid-template-columns: 56px 1fr;
    align-items: center;
    padding: 2pc 0;
}

.accordion.documents-required .accordion-item .accordion-item-label p:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 32px;
    height: 32px;

}

.accordion.documents-required .accordion-item .accordion-item-label p:nth-child(3) {
    color: #333;
    font-family: Nunito-Bold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 4px;
}

.accordion.documents-required .accordion-item .accordion-item-label p:nth-child(4) {
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 24px;
}

.accordion.documents-required .accordion-item .accordion-item-label p:nth-child(2) picture img {
    width: 32px;
    height: 32px;
}

.accordion.documents-required .accordion-item .accordion-item-body {
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: block;
    padding-bottom: 44px;
    padding-left: 20px;
    font-size: 1pc;
}

.accordion.documents-required .accordion-item .accordion-item-body strong {
    color: #f26841;
    font-family: Nunito-Bold, sans-serif;
    font-size: 1pc;
    font-weight: 700;
    line-height: 24px;
}

.accordion.documents-required .accordion-item .accordion-item-body table {
    width: 100%;
    max-width: 100%;
    display: block;
    /* padding-bottom: 44px;
    padding-left: 20px; */
}

.accordion.documents-required .accordion-item .accordion-item-body table tbody {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.accordion.documents-required .accordion-item .accordion-item-body ol {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.accordion.documents-required .accordion-item .accordion-item-body table tbody tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:first-child {
    display: block;
    width: 77.1%;
}

.accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(2) picture img,
.accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(3) picture img {
    width: 18px;
    height: 18px;
}

.accordion.documents-required .accordion-item .accordion-item-body ol {
    list-style-type: none;
}

.accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(2),
.accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(3) {
    width: 11.2%;
    text-align: right;
}

.accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(2) picture,
.accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(3) picture {
    margin-right: 20px;
}

@media screen and (max-width:768px) {
    .section.documents-required {
        padding: 1pc;
        padding-bottom: 96px;
    }

    .accordion.documents-required {
        border-radius: 9pt;
        padding: 9pt 1pc;
    }

    .documents-required .default-content-wrapper>h2 {
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 4px;
    }

    .documents-required .default-content-wrapper>p {
        margin-bottom: 20px;
        margin-top: 9pt;
        min-height: 24px;
        font-size: 16px;
    }

    .accordion.documents-required .accordion-item .accordion-item-label {
        grid-template-columns: 40px 1fr;
        padding: 1pc 0;
    }

    .accordion.documents-required .accordion-item .accordion-item-label p:nth-child(3) {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: unset;
    }

    .accordion.documents-required .accordion-item .accordion-item-label p:nth-child(4) {
        font-size: 9pt;
        line-height: 1pc;
    }

    .accordion.documents-required .accordion-item .accordion-item-body {
        font-size: 9pt;
        line-height: 1pc;
        padding-left: unset;
    }

    .accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:first-child {
        width: 63.45%;
    }

    .accordion.documents-required .accordion-item .accordion-item-body strong {
        font-size: 9pt;
        line-height: 1pc;
    }

    .accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(2),
    .accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(3) {
        width: 21.2%;
    }

    .accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(2) picture,
    .accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(3) picture {
        margin-right: 15px;
    }

    .accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(2) picture img,
    .accordion.documents-required .accordion-item .accordion-item-body table tbody tr td:nth-child(3) picture img {
        width: 12px;
        height: 12px;
    }
}

/* Accordion(Container) END */




/* Accordion(Frequently asked questions ) START */
.section.faq-wrapper {
    background-color: rgba(255, 244, 231, 0.3);
    padding-bottom: 72px;
    padding-top: 72px;
}

.section.faq-wrapper .default-content-wrapper {
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 1240px;
}

.section.faq-wrapper .default-content-wrapper>h2 {
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2pc;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
}

/* Accordian Wrapper start */

.faq-wrapper .accordion-wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.faq-wrapper .accordion-wrapper .faq .accordion-item {
    border-bottom: 1px solid #e5e7eb;
    display: block;
    width: 100%;
    margin: 0;
}

.faq-wrapper .accordion-wrapper .faq .accordion-item .accordion-item-label {
    width: 100%;
    padding: 24px 0;
    position: relative;
}

.faq-wrapper .accordion-wrapper .faq .accordion-item .accordion-item-label p:nth-child(2) {
    width: 98%;
    color: #333;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.faq-wrapper .accordion-wrapper .faq .accordion-item[open] .accordion-item-label p:nth-child(2) {
    color: #f26841;
    font-family: 'Nunito-Bold', sans-serif;
    font-weight: 700;
}

.faq-wrapper .accordion-wrapper .faq .accordion-item .accordion-item-body {
    width: 95%;
    padding: 0;
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 24px;
}

.faq-wrapper .accordion-wrapper .faq .accordion-item .accordion-item-body ul {
    margin-left: 20px;
}


@media screen and (max-width:768px) {
    .section.faq-wrapper {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .section.faq-wrapper .default-content-wrapper {
        margin-bottom: 20px;
    }

    .section.faq-wrapper .default-content-wrapper>h2 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;
    }
    .faq-wrapper .accordion-wrapper .faq .accordion-item .accordion-item-label::after{
        right: 20px;
        top: 35px;
    }
    .faq-wrapper .accordion-wrapper .faq .accordion-item .accordion-item-label p:nth-child(2){
        font-size: 1pc;
        line-height: 24px;
        width: 83%;
    }
    .faq-wrapper .accordion-wrapper .faq .accordion-item .accordion-item-body{
        font-size: 1pc;
        line-height: 24px;
    }
}

/* Accordian Wrapper Edns */

/* Accordion(Frequently asked questions) END */