/* Piramal Since */
.piramal-since-title .default-content-wrapper h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
    line-height: 1.75rem;
    margin-bottom: .75rem;
    font-family: Nunito-Extrabold,sans-serif;
    }
      

.piramal-since-title .default-content-wrapper p{
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.75rem;
    font-family: "Nunito-Regular",sans-serif;

 
}

.piramal-since-container .piramal-since-wrapper{
    margin: 0 auto;
    padding: 0px 12px;
    max-width: 1320px;
}

.piramal-since-container .piramal-since-wrapper .piramal-since{
    gap: 8.375rem;
    display: flex;
    margin-bottom: 4.5rem;
    justify-content: center;
}

.piramal-since-container .piramal-since-wrapper .piramal-since > div{
    display: flex;
    flex-direction: column;
}

.piramal-since-container .piramal-since-wrapper .piramal-since > div > div:first-child{
    margin-bottom: .875rem;
}

.piramal-since-container .piramal-since-wrapper .piramal-since > div > div:first-child,
.piramal-since-container .piramal-since-wrapper .piramal-since > div > div:last-child{
    text-align: center;
}

.piramal-since-container .piramal-since-wrapper .piramal-since > div > div:first-child picture img{
    width: 34.29%;
    height: fit-content;

    
}

.piramal-since-container .piramal-since-wrapper .piramal-since > div > div:last-child h3{
    color: #333;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: .625rem;
    font-family: "Nunito-Regular" , sans-serif;
}

.piramal-since-container .piramal-since-wrapper .piramal-since > div > div:last-child p{
    color: #333;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Nunito-Bold" , sans-serif;
}
/* Piramal Since */



@media screen and (max-width: 900px)  {
    .piramal-since-title .default-content-wrapper h2{
    font-size:20px;
    line-height: 28px;
    padding-bottom: 4px;
    margin-bottom: unset;
    }

    .piramal-since-title .default-content-wrapper p{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 4px;
        color: #666;
        display: block;
    }

    .piramal-since-container .piramal-since-wrapper .piramal-since{
        column-gap: 90px;
        grid-template-columns: auto auto;
        padding: 0 24px;
        -webkit-column-gap: 86px;
        column-gap: 86px;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 44px;
        justify-content: unset;
    }
    .piramal-since-container .piramal-since-wrapper .piramal-since > div > div:first-child picture img{
        height: 44px;
        margin-bottom: 10px;
        width: 44px;
    }
    .piramal-since-container .piramal-since-wrapper .piramal-since > div > div:last-child h3{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .piramal-since-container .piramal-since-wrapper .piramal-since > div > div:last-child p{
        font-size: 16px;
        line-height: 24px;

    }

  
   
}

@media screen and (min-width:900px) and (max-width:1200px){
    .piramal-since-container{
        max-width: 80%;
        margin: auto;
    }
    .piramal-since-container .piramal-since-wrapper .piramal-since{
        gap: unset;
     
    }
}