body {
  font-family: 'Nunito', 'Nunito-fallback', sans-serif !important;
}

main>.section {
  padding: 0;
  background: #F8FAFF;
}

.section>div {
  max-width: 1240px;
  padding-left: 0;
  margin: 0 auto;
}

.home-loan-banner {
  width: 100%;
  position: relative;
  min-height: 450px;
  padding-top: 60px;
}

.home-loan-banner>div:first-child {
  max-width: 394px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.home-loan-banner>div:first-child>div>picture>img {
  display: block;
}

.home-loan-banner>div:nth-child(2)>div>p:first-child {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
  line-height: 60px;
  max-width: 1240px;
}

.home-loan-banner>div:nth-child(2)>div>p:last-child {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  margin: 0;
  margin-top: 16px;
}

.home-loan-banner>div:last-child {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.home-loan-banner>div:last-child>div:first-child>p:first-child {
  margin: 0;
  background: #F26841;
  border-radius: 8px;
  color: #ffffff;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.125rem;

}

.home-loan-banner>div:last-child>div:last-child>p:first-child {
  margin: 0;
  color: rgb(102 102 102);
  font-weight: 400;
  font-size: 1rem;
}

.home-loan-banner>div:last-child>div:last-child>p:last-child {
  margin: 0;
  font-weight: 700;
  color: rgb(54 80 105);
  font-size: 1.25rem;
  max-height: 30px;
  border-radius: 0;
}

.home-loan-banner>div:last-child>div:last-child>p:last-child a {
  text-decoration-line: underline;
  background: white;
  color: rgb(54 80 105);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 1px;

}