.tabs .tabs-list {
    display: flex;
    gap: 8px;
    max-width: 100%;
    overflow-x: auto;

}

.tabs .tabs-list button {
    flex: 0 0 max-content;
    margin: 0;
    border: 1px solid var(--dark-color);
    border-radius: 0;
    padding: 8px 16px;
    background-color: var(--light-color);
    color: initial;
    font-size: unset;
    font-weight: bold;
    line-height: unset;
    text-align: initial;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    transition: background-color 0.2s;
}

.tabs .tabs-list button[aria-selected="true"] {
    border-bottom: 1px solid var(--background-color);
    background-color: var(--background-color);
    cursor: initial;
}

.tabs .tabs-list button[aria-selected="false"]:hover,
.tabs .tabs-list button[aria-selected="false"]:focus {
    background-color: var(--dark-color);
}

.tabs .tabs-panel {
    margin-top: -1px;
    padding: 0 16px;
    border: 1px solid var(--dark-color);
    overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
    display: none;
}


/* about us tab */
.about-us-tab{
    max-width: 1240px;
    margin: auto;
}
.about-us-tab .tabs-panel{
    padding: unset;
}
.about-us-tab .tabs .tabs-list button p {
    border-bottom: none;
    font-family: Nunito-Bold, sans-serif;
    max-width: 264px;
    padding: 0 20px;
    text-align: center;
   
}

.about-us-tab .tabs .tabs-list  {
    margin: 3pc;
   
}
.about-us-tab .tabs .tabs-list button[aria-selected="true"] p {
    color: #e56a0b;
   
}
.about-us-tab .tabs.block .tabs-panel > div table tbody tr{
    border-radius: 1pc;
    -webkit-box-shadow: 0 4px 9pt rgba(51, 51, 51, .078);
    box-shadow: 0 4px 9pt rgba(51, 51, 51, .078);
    display: block;
    margin: auto auto 24px;
    padding: 24px;
    width: 100%;
}

.about-us-tab .tabs.block .tabs-panel > div table{

    border-spacing: revert; 
}
.about-us-tab .tabs.block .tabs-panel > div table tbody tr td h2{
    color: #f26841;
    display: block;
    font-family: Nunito-Bold, sans-serif;
    font-size: 24px;
    line-height: 2pc;
    margin-bottom: 1pc;  
}
.about-us-tab .tabs.block .tabs-panel > div table tbody tr td p{
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    line-height: 24px;
}

.about-us-tab .tabs .tabs-list{
    justify-content: center;
}





/* Underline Tab */
.underline-tab{
    max-width: 1240px;
    margin: 0 auto;
}
.underline-tab .default-content-wrapper h2{
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2pc;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
}



.underline-tab .tabs-wrapper .tabs.block .tabs-list .tabs-tab p{
    font-family: Nunito-Regular, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 2pc;
    padding: unset;
    margin-right: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    padding: .5rem 1rem;
    cursor: pointer;
}

.underline-tab .tabs-panel{
    padding: unset;
}

.underline-tab .tabs-wrapper .tabs.block .tabs-list button[aria-selected="true"] p{
    border-bottom: 2px solid #f26841;
    color: #f26841;
    font-family: Nunito-Extrabold, sans-serif;
    font-weight: 800;
    padding: unset;
   
}

.underline-tab .tabs .tabs-list{
    margin-top: 22.4px;
}

.underline-tab .tabs .tabs-list button,.underline-tab .tabs-wrapper .tabs.block .tabs-list .tabs-tab p{
    padding: unset
}

.underline-tab .tabs-wrapper .tabs.block .tabs-panel div table tbody tr{
    align-items: center;
    border-radius: 1pc;
    -webkit-box-shadow: 0 4px 9pt rgba(51, 51, 51, .078);
    box-shadow: 0 4px 9pt rgba(51, 51, 51, .078);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 30px 50px;
    width: 100%;
}
.underline-tab .tabs-wrapper .tabs.block .tabs-panel div table tbody tr:hover{
    box-shadow: 0 25px 50px -9pt rgba(0, 0, 0, .25);
}



.underline-tab .tabs-wrapper .tabs.block .tabs-panel div table {
    width: 100%;
}
.underline-tab .tabs-wrapper .tabs.block .tabs-panel div table tbody {
    display: grid;
    gap: 1pc;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 24px 0;
    width: 100%;
}

.underline-tab .tabs-wrapper .tabs.block .tabs-panel div table tbody tr td{
    height: 83px;
    width: 206px;
}

.underline-tab .tabs-wrapper .tabs.block .tabs-panel div table tbody tr td picture img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media screen and (max-width:1024px) {
    .about-us-tab .tabs.block .tabs-panel > div table tbody tr td h2{
     font-size: 16px; 
    }
    .about-us-tab .tabs.block .tabs-panel > div table tbody tr td p{
        font-size: 12px;
    }

    .underline-tab .default-content-wrapper h2{
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;

    }

    .underline-tab .tabs-wrapper .tabs.block .tabs-list .tabs-tab p{
        font-size: 16px;
        line-height: 24px;
        margin-right: 16px;
    }

    .underline-tab .tabs-wrapper .tabs.block .tabs-panel div table tbody{
        display: flex;
        flex-wrap: wrap;
    }
    .underline-tab .tabs .tabs-list{
        margin-top: unset;
    }
   
}
/* Underline Tab end */


/* Tab List */

.section.tab.fragment-container.tab-list >.default-content-wrapper{
display: none;

}
.section.tab.fragment-container.tab-list .fragment-wrapper .section.tab-list{
    max-width: 1240px;
    margin: auto;
}
.section.tab.fragment-container.tab-list .fragment-wrapper .section.tab-list .default-content-wrapper ul{
    display: flex;
    gap: 50px;
    justify-content: start;
    margin-bottom: 56px;
    margin-top: 32px;
    flex-wrap: wrap;
  
}

.section.tab.fragment-container.tab-list .fragment-wrapper .section.tab-list .default-content-wrapper ul li{
    align-items: center;
    background: transparent;
    border: 1px solid #333;
    border-radius: 50px;
    display: flex;
    padding: 8px 1pc 7px;
    position: relative;
}

.section.tab.fragment-container.tab-list .fragment-wrapper .section.tab-list .default-content-wrapper ul li::after{
    border-radius: 1px;
    border-right: 2px solid #ccc;
    content: "";
    height: 22px;
    position: absolute;
    right: -24px;
    top: 26%;
    width: 2px;
}

.section.tab.fragment-container.tab-list .fragment-wrapper .section.tab-list .default-content-wrapper ul li:last-child:after{
    border-right: none;
}