/* Piramal Choose Us Title & Card */
.piramal-choose-us-title .default-content-wrapper h2{
    font-size: 2rem;
    text-align: left;
    line-height: 1.75rem;
    font-family: "Nunito-Extrabold" , sans-serif;
}

.piramal-choose-us-title .default-content-wrapper p{
    color: #333;
    font-size: 1.125rem;
    padding-top: .8rem;
    line-height: 1.75rem;
    font-family: "Nunito-Regular" , sans-serif;
}

.pirmal-choose-us-wrap{
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

.piramal-choose-us-container .piramal-choose-us-wrapper{
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1240px;
}

.piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us{
    gap: 5rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4.5rem;
}

.piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div{
    width: 20.37%;
    flex: 0 0 auto;
}

.piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div > div:first-child picture img{
    width:  27.3%;
    height: fit-content;
}

.piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div > div:last-child h2{
    color: #333;
    padding: 1rem 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Nunito-Extrabold" , sans-serif;
}
/* Piramal Choose Us Title & Card */


@media screen and (max-width:1200px){
    .piramal-choose-us-title .default-content-wrapper h2,.piramal-choose-us-title .default-content-wrapper p{
        padding-left:16px;
        padding-right:16px;
    }

    .piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div{
        width: 100%;
    }
    .piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div > div:first-child picture img{
        width: 72px;
        height: 72px;
    }

    .piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div > div:last-child h2{  
    color: #333;
    padding: 1rem 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Nunito-Extrabold", sans-serif;
    }
    
}


@media screen and (max-width:900){
    .piramal-choose-us-title .default-content-wrapper h2{
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;
    }
    .piramal-choose-us-title .default-content-wrapper p{
        color: #666;
        display: block;
        font-family: Nunito-Regular, sans-serif;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 4px;
        padding-top: unset;
    }
    .piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div > div:first-child picture img{
        width: 40px;
    }
    .piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div{
        width:100%;
        flex: unset;
    }
    .piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us > div > div:last-child h2{
        color: #333;
        font-family: Nunito-Bold, sans-serif;
        font-size: 1pc;
        font-weight: 700;
        line-height: 24px;
        padding: 8px 0 9pt;
    }
    .piramal-choose-us-container .piramal-choose-us-wrapper .piramal-choose-us{
        column-gap: 36px;
        grid-template-columns: 1fr;
        row-gap: 24px;
        margin-bottom: 40px;
    }
    .piramal-choose-us-container .piramal-choose-us-wrapper{
            padding: 0 16px;
     
    }
}

