
.section.key-features-container{
    padding: 50px 0;
    background: #365069;
}
.key-features-cards{
    display: flex;
    gap: 227px;
    align-items: center;
    justify-content: start;
    padding-bottom: 2rem;
}
.key-features-cards div div:first-child{
    max-width: 48px;
}
.key-features-cards div div:last-child p:first-child{
    color: rgb(215 220 225);
    margin: 0;
    padding-bottom: .25rem;
    padding-top: .75rem;
    font-size: 1rem;
}
.key-features-cards div div:last-child p:last-child{
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(255 255 255);
}
.key-features >div >div:first-child p{
    padding-bottom: .5rem;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: #D7DCE1;
} 
.key-features >div >div:last-child p{
    margin: 0;
    color: #FFFFFF;
    font-size: 2rem;
    padding-bottom: 1.75rem;
    font-weight: 700;
}
.terms-conditions >div >div{
    display: flex;
    gap: 5px;
}
.terms-conditions >div >div p{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(215 220 225);
    
}
.terms-conditions >div >div p:nth-child(2){
    color: rgb(245 134 103);
    text-decoration: underline;
}